{"cloudSettings":{"token":""},"javaSettings":{},"physicsSettings":{"filtersEditor":{"depth":0,"open":false,"visible":true},"layers":[{"guid":"7b23c15472ed495b8d1ae0513f4d8290","ignoreLayers":[],"inspectorEditor":{"depth":0,"open":false,"visible":true},"isDefault":true,"name":"Default"}],"layersEditor":{"depth":0,"open":false,"visible":true}},"tab":"Cloud"}